<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<body>
  <div class="card">
    <div class="card-header">
      <img src="public/assets/imagen.jpeg" alt="Imagen Verónica Guerrero">
      <div>
        <h1>Verónica Guerrero</h1>
        <p>Estudiante del Sudamericano</p>
      </div>
    </div>
  </div>
  <div class="card">
    <h2>Breve historia</h2>
    <p>Soy una persona introvertida, no suelo salir mucho ya que me gusta pasar tiempo en casa,
      me gusta mucho dibujar y programar. Nací y vivo en Cuenca, tengo 20 años y he tenido buenos amigos alrededor
      de mi vida. Tengo 3 hermanos mayores, suelen mimarme mucho.
    </p>
    <div class="images">
      <div class="image-text">
        <img src="public/assets/imagen1.jpeg" alt="Imagen 1">
        <p>Texto debajo de Imagen 1</p>
      </div>
      <div class="image-text">
        <img src="public/assets/imagen2.jpeg" alt="Imagen 2">
        <p>Texto debajo de Imagen 2</p>
      </div>
      <div class="image-text">
        <img src="public/assets/imagen3.jpeg" alt="Imagen 3">
        <p>Texto debajo de Imagen 3</p>
      </div>
    </div>
    <img class="long-image" src="public/assets/imagen4.jpeg" alt="Imagen larga">
  </div>
  </body>
  
  
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
