<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<body>
  <div class="card">
    <div class="card-header">
      <img src="public/assets/imagen.jpg" alt="Imagen Verónica Guerrero">
      <div>
        <h1>Verónica Guerrero</h1>
        <p>Estudiante del Sudamericano</p>
        <p>Carrera Desarrollo de Software</p>
        <p>Numero de celular +593 93 903 5862</p>

      </div>
    </div>
  </div>
  <div class="card">
    <h2>Breve historia</h2>
    <p>Hola me llaman Verito, soy una persona introvertida, no suelo salir mucho ya que me gusta pasar tiempo en casa,
      me gusta mucho dibujar, cocinar pasteles y programar. Nací y vivo en Cuenca desde que tengo uso de razón, tengo 20 años
      y he tenido buenos amigos alrededor de mi vida. Tengo 3 hermanos mayores, suelen mimarme mucho, tambien un padre y madre muy 
      comprensivos ademas de atentos conmigo. Tambien debido a un trauma del pasado tengo dos psicologos y un psiquiatra que me ayudan
      mucho a seguir adelante.
    </p>
    <div class="images">
      <div class="image-text">
        <img src="public/assets/imagen1.jpeg" alt="Imagen 1">
        <p>Hace mucho tiempo de esta imagen, lo tenia como recuerdo de mi perrito.</p>
      </div>
      <div class="image-text">
        <img src="public/assets/imagen2.jpeg" alt="Imagen 2">
        <p>En esta imagen recuerdo que es la primera vez que me subia en un caballo yo sola.</p>
      </div>
      <div class="image-text">
        <img src="public/assets/imagen3.jpeg" alt="Imagen 3">
        <p>Aqui fui con mis amigas solo nosotras a Ambato, fue un viaje muy hermoso.</p>
      </div>
    </div>
    <img class="long-image" src="public/assets/imagen4.jpeg" alt="Imagen larga">
    <div class="card-footer">
      <div>
        <h2>Más sobre mi</h2>
        <p>Este es un blog un poco personal sobre mi, en la imagen grande esta un poco de mi familia en mi cumpleaños, 
          me encanta pasar tiempo con ellos.
        </p>
      </div>
      <img src="public/assets/imagen.jpg" alt="Imagen adicional">
    </div>
  </div>
  </body>
  
  
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
